/*
@font-face {
  font-family: 'caslonpro';
  src:  url('AdobeCaslonPro.ttf') format('truetype');  
  }
*/
.group-1
{
	padding: 20px 0px 0px 0px;
	width: 80%;
	margin: 0px auto;
}
.group-type
{
	width:80%;
	text-align: center;
	margin: 20px 20% 0px 20%;
}

.jumbotron
{
	width: 70%;
	margin: 0px auto;
}
.submit-btn
{
	margin: 20px auto 0px auto;
	text-align: center;
	width: 30%;
}